
// --- SIZING --- //
$smaller: calc(1rem * (1/3));
$small: calc(1rem * (2/3));
$large: calc(1rem * (4/3));
$larger: calc(1rem * (5/3));
$hero: calc(1rem * (7/3));

// --- FAMILIES --- //

$tangerine: 'Tangerine', cursive;
$helvetica: 'Helvetica', sans-serif;